In [141]:
import pandas as pd

In [142]:
import textcleaner as tc

I have manually converted the table from pdf to csv.

In [151]:
# reading the csv file as a Dataframe
data = pd.read_csv('data.csv',sep=';',index_col=0)

# droping column if whole column contains NaN values
data.dropna(how='all', axis='columns',inplace=True)

# if anywhere in a row the cell has NaN value replacing it with " " (whitespace)
data.fillna(" ",inplace=True)

In [144]:
# extracting the text data from the csv
text_data = list(data['text'])

# deleting the result!
del data['result']

In [155]:
# text pre-processing with textcleaner: 
# converting whole text to lowercase
text_data = tc.lower_all(text_data)
# removing symbols such as ", ; . & $ etc.."
text_data = tc.remove_symbols(text_data)

In [159]:
# list containing the phone number
result = []

# list containing boolean values showing presence of keyword in the sentence.
contains = []


for each_row in text_data:

    keyword = 'phone number'
    
    contains.append(keyword in each_row)
    
    # if keyword is present
    if keyword in each_row:
            
        # splitting the sentence by the keyword and joining it back with " "
        # creating a list by again spliting to check if each token is a number
        temp = [each for each in " ".join(each_row.split(keyword)).split(" ") if each.isdigit()]
        
        # if temp contains more than one number then appending it to result by joining with "," 
        if len(temp)>1:
            result.append(",".join(temp))
        else:
            result.append("".join(temp))
        
    # if keyword is not present
    else:
        result.append("NA")

In [162]:
# assigning respective columns to the dataframe
data['result'] = result
data['keyword present'] = contains

In [163]:
# final output
data

,text,result,keyword present
id,,,
1,This is a sample text provided for training pu...,123456,True
2,Another sample text with a phone number. Phone...,432562143,True
3,phone number: 654321,654321,True
4,not a phone number: 23456211,23456211,True
5,just a number: 123432,NA,False
6,text without a phone number,,True
7,,NA,False
8,"phone number: 654321, and another one, phone n...","654321,43256123",True